<h1>About Us</h1>
<p1><center>Eventino is a great platform for the Engineering students of Sangli who are interested in Events. Today, almost every bit
of day-to-day task is performed with the help of World Wide Web. Being completely dependent on this online virtual world,
the approach of every individual has been changed. Hence, it's necessary for the Web Developers to take some effort and
make things easily available on the Web. So, the team of Eventino has taken this initiative to make the College Events available
for the Engineering students of Sangli city.</p1></center><br>
We have provisions for the both the organizers to do campaigning of their respective events, and 
participants who can get updates for the events they wish to participate in. <br>
<p></p>
<p3><center><b>Organizers</b> need to sign up for the Eventino Account. They can, then, login and do online campaigning of their events.
They will be provided with an image upload option via which they can upload their event's poster to present visually attractive 
information to the participants.</center></p3><br>
<p></p>
<p3><center><b>Participants</b>, similarly, need to sign up for the Eventino Account. They can, then, login and get updates online for the events
they are interested in.They will be able to see the event posters along with some description provided by the organizer.
A posting option will be available for each user, wherein they can post their events online by filling up required details</center></p3><br>  
<p></p>
<center><b>The Eventino Team Members:</b></center>

<center><li>Radhika Tiwari</li></center>
<center><li>Aishwarya Gunde</li></center>
<center><li>Atul Revanwar</li></center>