<h1>Contact Us</h1>
        <div class="container">
            <div class="row text-center ">
                    <h2>For any queries, complain or feedback, contact us here!</h2><br>
                </div>
            </div>
            <div class="row text-center">

                
                    <h3><strong>Mobile No:</strong>+919420805412</h3><br>
                    <h3><p><strong>Email Addresses:</strong></p> <br> 
														  <p>radhikatiwari1708@gmail.com</p><br>
														  <p>ash.gunde09@gmail.com</p><br>
														  <p>arevanwar@gmail.com</p></h3>
        </div>